apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-cicd
spec:
  replicas: 1
  selector:
    matchLabels:
      app: demo
  template:
    metadata:
      labels:
        app: demo
    spec:
      containers:
      - name: demo
        image: ghcr.io/neerajmythink/demo-cicd:latest
        ports:
        - containerPort: 8000
